<br>
<div class="row col-md-12">
  <h3>
    <b>LEAVE</b>
  </h3>
</div>

<!-- SPACE -->
<div class="col-md-12" style="height:25px;"></div>

<div class="row">
  <table class="table-bordered table-striped table">
    <thead class="indigo lighten-3">
      <tr>
        <th>Leave Type</th>
        <th>Duration</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cuti Hamil</td>
        <td>90 Days</td>
        <td>
          <a class="btn">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <b>-</b>
          <a class="btn">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Cuti Tahunan</td>
        <td>12 Days</td>
        <td>
          <a class="btn">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <b>-</b>
          <a class="btn">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

  <a class="btn btn-primary">Create</a>
</div>
