<div class="col-md-12">
  <h3>
    <b>LEAVE VALIDATION</b>
  </h3>
</div>

<!-- SPACE -->
<div class="col-md-12" style="height:39px;"></div>

<div class="row">
  <table class="table-bordered table-striped table">
    <thead class="indigo lighten-3">
      <tr>
        <th class="text-center">No</th>
        <th class="text-center">Employee</th>
        <th class="text-center">Employee Name</th>
        <th class="text-center">Project</th>
        <th class="text-center">Location</th>
        <th class="text-center">Type</th>
        <th class="text-center">Form</th>
        <th class="text-center">To</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">1</td>
        <td>E001X2314</td>
        <td>Rambo Rega Perkasa</td>
        <td>Hero Service</td>
        <td>Banten</td>
        <td>Cuti Menikah</td>
        <td>1 Dec 2017</td>
        <td>5 Dec 2017</td>
        <td>Approved</td>
      </tr>
      <tr>
        <td class="text-center">2</td>
        <td>E021X2714</td>
        <td>Giacomo Gulizzoni</td>
        <td>Hero Service</td>
        <td>Samarinda</td>
        <td>Cuti Tahunan</td>
        <td>5 Dec 2017</td>
        <td>7 Dec 2017</td>
        <td>Waiting Validation</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
</div>
