<div class="row">
  <div class="col-md-12">
    <h3>
      <b>LEAVE REQUEST</b>
    </h3>
  </div>
</div>

<!-- SPACE -->
<div class="col-md-12" style="height:39px;"></div>

<form action="" class="form-horizontal">
  <div class="alert alert-info" role="alert">
    <div class="row">
      <div class="form-row col-md-12">
        <div class="form-group col-md-6 form-inline">
          <label for="employeeId" class="col-md-5 control-label">Employee ID</label>
          <div class="col-md-7">
            <input type="text" class="form-control" id="employeeId" placeholder="Employee ID">
            <a class="btn" role="button">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div>
        </div>

        <div class="form-group col-md-6 form-inline">
          <label for="project" class="col-md-5 control-label">Project</label>
          <div class="col-md-7">
            <input type="text" class="form-control" id="project" placeholder="Project" readonly>
          </div>
        </div>
      </div>

      <div class="form-row col-md-12">
        <div class="form-group col-md-6 form-inline">
          <label for="name" class="col-md-5 control-label">Name</label>
          <div class="col-md-7">
            <input type="text" class="form-control" id="name" placeholder="Name">
            <a class="btn" role="button">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div>
        </div>

        <div class="form-group col-md-6 form-inline">
          <label for="jobTitle" class="col-md-5 control-label">Job Title</label>
          <div class="col-md-7">
            <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SPACE -->
  <div class="col-md-12" style="height:39px;"></div>

  <div class="alert alert-info" role="alert">
    <div class="row">
      <div class="form-row col-md-12">
        <div class="form-group col-md-6 form-inline">
          <label for="type" class="col-md-5 control-label">Type</label>
          <div class="col-md-7">
            <select id="type" class="form-control" style="width:211px">
              <option selected disabled>Type Cuti</option>
              <option>...</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-6 form-inline">
          <div class="col-md-12">
            <input type="text" class="form-control" id="typeText" placeholder="">
          </div>
        </div>
      </div>

      <div class="form-row col-md-12">
        <div class="form-group col-md-6 form-inline">
          <label for="date" class="col-md-5 control-label">Date</label>
          <div class="col-md-7">
            <small>From</small>
            <input type="date" class="form-control" id="date" placeholder="">
            <a class="btn" role="button">
              <span class="glyphicon glyphicon-calendar"></span>
            </a>
          </div>
        </div>

        <div class="form-group col-md-6 form-inline">
          <div class="col-md-12">
            <small>To</small>
            <input type="date" class="form-control" id="date" placeholder="">
            <a class="btn" role="button">
              <span class="glyphicon glyphicon-calendar"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SPACE -->
  <div class="col-md-12" style="height:39px;"></div>

  <div class="alert alert-info" role="alert">
    <div class="row">
      <div class="col-md-12">
        <div class="form-row col-md-12">
          <div class="form-group col-md-6 form-inline">
            <label for="" class="col-md-5 control-label"><h4><b>During Leave</b></h4></label>
          </div>
        </div>
      </div>

      <!-- SPACE -->
      <div class="col-md-12" style="height:19px;"></div>

      <div class="col-md-12">
        <div class="form-row col-md-12">
          <div class="form-group col-md-6 form-inline">
            <label for="jobDeligated" class="col-md-5 control-label">Job Deligated</label>
            <div class="col-md-7">
              <input type="text" class="form-control" id="jobDeligated" placeholder="Job Deligated">
              <a class="btn" role="button">
                <span class="glyphicon glyphicon-search"></span>
              </a>
            </div>
          </div>

          <div class="form-group col-md-6 form-inline">
            <div class="col-md-12">
              <input type="text" class="form-control" id="nameJobDeligated" placeholder="Name" readonly>
            </div>
          </div>
        </div>

        <div class="form-row col-md-12">
          <div class="form-group col-md-6">
            <label for="address" class="col-md-5 control-label">Address</label>
            <div class="col-md-7">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- SPACE -->
  <div class="col-md-12" style="height:39px;"></div>

  <div class="col-md-12">
    <div class="form-row col-md-12">
      <div class="form-group col-md-6">
        <button type="button" class="btn btn-primary"> SUBMIT</button>
      </div>
    </div>
  </div>

</form>
